body {
    position: relative;
}

.header {
    padding: 0 100px;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.photograph-header div h1{
    color: #D3573C;
    font-size: 60px;
    /*margin: 0;*/
    padding: 0;
}

.photograph-header div p:nth-child(2) {
    color: #901C1C;
    font-size: 23px;
    padding: 15px 0;
}

.photograph-header div p:nth-child(3) {
    color: #525252;
    font-size: 23px;
}

.photograph-header img {
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    color: white;
    padding: 11px;
    /*width: 170px;*/
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.photograph-pictures {
    padding: 0 100px;
    margin-bottom: 50px;
}

.photograph-pictures form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photograph-pictures form label {
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 15px 15px 0 0;
}

#order_by_form p:first-child {
    padding-right: 25px;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 70px;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 70px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
    background-color: #901C1C;
    color: #FFF;
}

:root {
    --test: '';
}

.select:focus .option:nth-of-type(1):before,
.select:focus .option:nth-of-type(2):before,
.select:focus .option:nth-of-type(3):before
{
    content: '';
    display: var(--test);
    height: 1px;
    width: 180px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.select:focus > input:checked + label:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f078';
}

.selectopt {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input:checked + label {
    order: 1;
    z-index: 2;
    background: #901C1C;
    border-top: none;
    position: relative;
    letter-spacing: 1px;
    /*border-radius: 5px;*/
    color: white;
    cursor: pointer;
    height: 50px;
}

input:checked + label:after {
    content: '\f077';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
    z-index: 3;
}

.photograph-pictures form label {
    padding: 5px 5px 5px 25px;
}

#pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    grid-gap: 50px 100px;
    margin-top: 40px;
}

#pictures figure {
    /*background-color: gray;*/
    padding: 0;
    margin: 0;
}

#pictures figure a {
    display: block;
    height: calc(100% - 50px);
}

#pictures figure img {
    /*background-color: #901C1C;*/
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

#pictures figure video {
    /*background-color: #901C1C;*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#pictures figure figcaption {
    height: 50px;
    /*background-color: #312E2E;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pictures figure figcaption p, #pictures figure figcaption span {
    margin: 0;
    color: #901C1C;
    font-size: 20px;
}

#text_info_likes {
    background-color: #D3573C;
    color: black;
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 30px;
}

#text_info_likes span {
    font-size: 20px;
    font-weight: bold;
}

#contact_modal {
    background-color: rgba(197, 189, 193, .5);
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    padding: 35px;
    margin: auto;
    box-shadow: 0 0 10px #7e827f;
}

.modal header {
    display: flex;
    align-items: start;
    width: 100%;
    padding: 0;
    height: unset;
}

.modal header h1 {
    color: black;
    font-size: 60px;
    margin: -15px 0 0 0 ;
}

.modal header h1 span {
    position: relative;
    top: -20px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.contact_modal_form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact_modal_form label {
    color: #312E2E;
    font-size: 36px;
}

.contact_modal_form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.contact_modal_form button {
    width: 170px;
}

.contact_modal_form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#your_message {
    height: 150px;
    width: 100%;
    max-height: 150px;
    max-width: 100%;
    min-height: 150px;
    min-width: 100%;
}

dialog {
    width: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0;
    height: 100vh;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    display: none;
    padding: 40px 120px;
    z-index: 2;
}

dialog img {
    background-color: #D3573C;
    max-height: 100%;
    object-fit: cover;
}

dialog p {
    color: #901C1C;
    font-size: 23px;
}

dialog button {
    position: absolute;
    top: 30px;
    right: 80px;
    font-size: 50px;
    border: none;
    color: #901C1C;
    background-color: unset;
    cursor: pointer;
}

.arrow_previous {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #901C1C;
}

.arrow_next {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 80px;
    font-size: 50px;
    color: #901C1C;
}